.assign-submitted-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 30px;
}

.board-title {
  width: 80%;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: left;
}

.box-title {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}