.assign-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 30px;
}

.board-title {
  font-size: 30px;
  font-weight: bold;
  color: black;
  border-bottom: 1px solid #003366;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

.submission-title {
  width: 80%;
  font-size: 24px;
  font-weight: bold;
  margin: 32px 0 12px;
  text-align: left;
}
